/*
Theme Name: Plan Minas
*/

/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Geral */

*{
	outline: none !important;
}

a{
	color: #000;
	cursor: pointer;
}

a:hover, a:focus{
	text-decoration: none;
	color: #FF535A;
}


body{
	font: 18px 'Montserrat', sans-serif;
	line-height: 1.5em;
	color: #000;
	font-weight: 300;
}

ul,ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.disc{
	list-style-type: disc;
	padding-left: 20px;
}

b{
	font-weight: 700;
}


.cta{
	font-size: 14px;
	text-transform: uppercase;
	background: linear-gradient(359.7deg, #EC1A23 -20.51%, #FF535A 96.58%);
	cursor: pointer;
	border-radius: 30px;
	padding: 15px 40px;
	transition: all 350ms ease-in-out;
	display: inline-block;
	font-weight: 600;
	color: #fff;
	border:0px;
}

.cta:hover,
.cta:focus{
	color: #fff;
	transform: scale(1.1);
}

.cta.bg-transparent{
	background: transparent;
	border: 1px solid #fff;
}

.cta.bg-transparent:hover,
.cta.bg-transparent:focus{
	background: #fff !important;
	color: #511972;
}

section{
	padding: 100px 0;
	position: relative;
}

.section-title{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 300;
	text-transform: uppercase;
	color: #FF535A;
	padding-bottom: 20px;
	position: relative;
}

.section-title b{
	font-weight: bold;
	display: block;
	color: #511972;
	font-weight: 800;
}

.section-title:before{
	width: 100px;
	height: 2px;
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	background: #FF535A;
}

.bg-red{
	background: linear-gradient(359.31deg, #EC1A23 -20.51%, #FF535A 96.58%);
}

.bg-purple{
	background: #511972;
}

.bg-lgrey{
	background-color: #FAFAFA;
}

.bg-grey{
	background-color: #e4e4e4;
}

.bg-white{
	background-color: #fff;
}

.bg-black{
	background-color: #fff;
}

.color-purple,
.color-purple:hover,
.color-purple:focus{
	color: #511972;
}

.color-red,
.color-red:hover,
.color-red:focus{
	color: #FF535A;
}

.color-green,
.color-green:hover,
.color-green:focus{
	color: #25d366;
}

.color-white,
.color-white:hover,
.color-white:focus{
	color: #fff;
}

.color-black,
.color-black:hover,
.color-black:focus{
	color: #000;
}

.font-size-12{
	font-size: 12px;
}

.font-size-14{
	font-size: 14px;
}

.font-size-16{
	font-size: 16px;
}

.font-size-18{
	font-size: 18px;
}

.font-size-20{
	font-size: 20px;
}

.font-size-22{
	font-size: 22px;
}

.font-size-24{
	font-size: 24px;
}

.font-size-25{
	font-size: 25px;
}

.font-size-28{
	font-size: 28px;
}

.font-size-30{
	font-size: 30px;
}

.font-size-32{
	font-size: 32px;
}

.font-size-34{
	font-size: 34px;
}

.font-size-35{
	font-size: 35px;
}

.font-size-36{
	font-size: 36px;
}

.font-size-40{
	font-size: 40px;
}

.font-size-42{
	font-size: 42px;
}

.font-size-45{
	font-size: 45px;
}

.font-size-46{
	font-size: 46px;
}

.font-size-50{
	font-size: 50px;
}

.font-size-60{
	font-size: 60px;
}

.font-size-70{
	font-size: 70px;
}

.letter-spacing-2{
	letter-spacing: 2px;
}

.letter-spacing-4{
	letter-spacing: 4px;
}

.letter-spacing-8{
	letter-spacing: 8px;
}

.text-uppercase{
	text-transform: uppercase;
}

.font-weight-300{
	font-weight: 300;
}

.font-weight-400{
	font-weight: 400;
}

.font-weight-500{
	font-weight: 500;
}

.font-weight-600{
	font-weight: 600;
}

.font-weight-700{
	font-weight: 700;
}

.font-weight-800{
	font-weight: 800;
}

.font-gabriela{
	font-family: 'Gabriela';
}

.form-control{
	transition: all 350ms ease-in-out;
	font-size: 14px;
	height: 50px;
	margin-bottom: 30px;
	border-radius: 20px;
}

.form-control:hover,
.form-control:focus{
	box-shadow: none;
	border-color: #FF535A;
}

.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
}

.owl-nav {
	position: absolute;
	width: calc(100% + 100px);
	top: calc(50% - 15px);
	left: -50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.owl-nav .owl-prev,
.owl-nav .owl-next,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
	background:  linear-gradient(359.53deg, #EC1A23 -20.51%, #FF535A 96.58%);;
	width: 60px;
	height: 60px;
	color: #fff;
	border-radius: 100%;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: all 350ms ease-in-out;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-next:focus{
	transform: scale(1.1);
}

.owl-dots {
	position: absolute;
	text-align: left;
	width: 100%;
	bottom: -50px;
	left: 0;
}

.owl-dots .owl-dot span{
	background: #fff;
	border: 2px solid #511972;
	width: 20px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 10px;
	margin: 0 5px;
	transition: all 350ms ease-in-out;
	background: transparent;
}

.owl-dots .owl-dot.active span{
	width: 35px;
	background: #FF535A;
	border-color: #FF535A;

}

#top-button{
	position: fixed;
	width: 70px;
	height: 40px;
	color: #fff;
	background: #FF535A;
	right: 30px;
	bottom: 0px;
	z-index: 9;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	opacity: 0;
	transition: all 350ms ease-in-out;
}

#top-button:hover,
#top-button:focus{
	height: 50px;
}

#top-button:before{
	width: 100%;
	height: 10px;
	position: fixed;
	content: '';
	left: 0;
	bottom: 0;
	background: #FF535A;
}

/*Cabeçalho*/

header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	transition: all 350ms ease-in-out;
	background: #511972;
}

header .topbar {
	padding: 10px 0;
	opacity: 1;
	transition: all 350ms ease-in-out;
	font-size: 14px;
	font-weight: 500;
}

header.fixed .topbar{
	padding: 0;
	height: 0px;
	opacity: 0;
}

.search{
	position: relative;
}

.search i{
	position: absolute;
	right: 20px;
	top: calc(50% - 8px);
	font-size: 17px;
	padding: 0;
	width: auto;
	height: auto;
	color: #FF535A;
	background: none;
	line-height: 17px;
}

.search input{
	background: #fff;
	border: 0px;
	font-size: 14px;
	height: 40px;
	transition: all 350ms ease-in-out;
	color: #000;
	padding: 5px 20px;
	border-radius: 20px;
	padding-right: 40px;
	border: 1px solid #fff;
}

.search input:focus{
	border-color: #FF535A;
}

header .topbar .cta{
	text-transform: none;
	background: transparent;
	padding: 5px 20px;
	border-radius: 20px;
	border: 1px solid #FF535A;
}

header .topbar .cta:hover,
header .topbar .cta:focus{
	background: #FF535A;
}

header .topbar .phones-search{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header .topbar .phones-search .phone{
	display: flex;
}

header .topbar .phones-search .phone i{
	color: #fff;
	width: 34px;
	background: #622586;
	padding: 5px;
	border-radius: 100%;
	height: 34px;
	text-align: center;
	line-height: 24px;
	margin-right: 10px;
}

header .topbar .phones-search .phone small {
	display: block;
	margin-bottom: -10px;
	font-size: 10px;
	text-transform: none;
}

header .topbar .phones-search .phone span{
	font-size: 17px;
	font-weight: 300;
}

header .topbar .phones-search .phone img{
	width: 34px;
	background: #FF535A;
	padding: 5px;
	border-radius: 100%;
	margin-right: 10px;
}

header .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0px;
	position: relative;
}

header .logo{
	display: flex;
	align-items: center;
	justify-content:center;
	padding: 20px 0;
	transition: all 350ms ease-in-out;
	position: relative;
	z-index: 9;
	margin-top: -55px;
}

header.fixed .logo{
	margin-top: 0px;
	padding: 10px 0;
}

header .logo img{
	width: 188px;
	transition: all 350ms ease-in-out;
}

header.fixed .logo img{
	width: 150px;
}

header .main-menu > ul{
	list-style: none;
	padding: 0;
	margin: 0 ;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	margin-bottom: -1px;

}

header .main-menu  > ul > li{
	position: relative;
	cursor: pointer;
	margin-right: 20px;
}

header .main-menu > ul > li:first-child{
	margin-left: 0;
}

header .main-menu > ul > li > a{
	color: #fff;
	display: inline-block;
	transition: all 350ms ease-in-out;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 2px;
	position: relative;
}

header .main-menu > ul > li > a:before{
	width: calc(100% + 20px);
	height: calc(100% + 113px);
	background: url(img/bg-menu.png);
	content: '';
	position: absolute;
	top: -90px;
	left: -10px;
	transition: all 350ms ease-in-out;
	opacity: 0;
	z-index: -1;
}

header.fixed .main-menu > ul > li > a:before {
	top: -81px;
}

header .main-menu > ul > li > a:after{
	width: 0%;
	position: absolute;
	bottom: -10px;
	height: 4px;
	background: #FF535A;
	content: '';
	left: 0;
	border-radius: 15px;
	transition: all 350ms ease-in-out;
}

header .main-menu > ul > li > a.active:before,
header .main-menu > ul > li.current-menu-item > a:before{
	opacity: 1;
}

header .main-menu > ul > li > a.active:after,
header .main-menu > ul > li.current-menu-item > a:after{
	width: 100%;
}

header .main-menu > ul > li.drop > a{
	padding-right: 45px;
}

header .main-menu > ul > li.drop > a:before{
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	position: absolute;
	content: "";
	right: 25px;
	top: calc(50% - 2px);
	transition: all 350ms ease-in-out;
}

header .main-menu > ul > li.drop > a:hover:before,
header .main-menu > ul > li.drop > a:focus:before,
header .main-menu > ul > li.drop > a.active:before{
	border-top-color: #85bfcc;
}

header .main-menu ul > li > a:hover,
header .main-menu ul > li > a:focus,
header .main-menu ul > li > a.active{
	color: #FF535A;
}

header .main-menu > ul > li > ul{
	position: absolute;
	background: #f6f6f6;
	padding: 0px;
	top: 45px;
	left: calc(50% - 150px);
	list-style: none;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .3s ease-in-out;
	transition: all 350ms ease-in-out;
	-webkit-transform: translate3d(0, -1rem, 0);
	transform: translate3d(0, -1rem, 0);
	width: 300px;
	padding: 20px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
}

header .main-menu > ul > li > ul:before{
	content: "";
	position: absolute;
	top: -8px;
	left: calc(50% - 8px);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f6f6f6;
}

header .main-menu > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

header .main-menu > ul > li > ul > li{
	display: block;
	margin-bottom: 5px;
}

header .main-menu > ul > li > ul > li > a{
	color: #666;
	transition: all 350ms ease-in-out;
	display: block;
	padding: 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
}

header .main-menu > ul > li > ul > li > a:before{
	content: '- ';
	color:  #85bfcc;
}

header .main-menu > ul > li > ul > li > a:hover,
header .main-menu > ul > li > ul > li > a:focus{
	color: #144b5b;
}

/*Banner*/

section#banner{
	padding: 0;
	position: relative;
}

.main-banner{
	list-style: none;
	padding: 0;
	position: relative;
}

.main-banner li {
	position: relative;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding-top: 83px;
	background: linear-gradient(50.7deg, #ECECEC 0.35%, rgba(236, 236, 236, 0) 36.35%);
	overflow: hidden;
}

.main-banner li h2{
	position: relative;
}

.main-banner li .detalhe {
	position: absolute;
	left: 185px;
	top: 25px;
	font-size: 23px;
}

.main-banner li .imagem{
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: flex-end;
	padding-right: 0;
}

section#banner .owl-dots{
	bottom: 20px;
}

.listagem-planos{
	margin-top: 50px;
	padding: 0 20px;
}
.woocommerce .products ul li,
.woocommerce ul.products li,
.listagem-planos li{
	position: relative;
	padding: 20px !important;
}
.woocommerce .products ul li:before,
.woocommerce ul.products li:before,
.listagem-planos li:before{
	width: 100%;
	height: calc(100% - 70px);
	content: '';
	background: #ECECEC;
	top: 70px;
	left: 0;
	position: absolute;
	z-index: -1;
	border-radius: 30px;
}
.woocommerce .products ul li.destaque:before,
.woocommerce ul.products li.destaque:before,
.listagem-planos li.destaque:before{
	background: #511972;
}
.woocommerce .products ul li .foto,
.woocommerce ul.products li .foto,
.listagem-planos li .foto{
	height: 230px;
	background-position: center;
	background-size:cover;
	border-radius: 30px 30px 0 0;
}
.woocommerce .products ul li .info,
.woocommerce ul.products li .info,
.listagem-planos li .info{
	padding: 30px;
	border-radius: 0px 0px 30px 30px;
	color: #fff;
	background: linear-gradient(358.11deg, #511972 -20.51%, #7423A4 96.58%);
}
.woocommerce .products ul li.destaque .info,
.woocommerce ul.products li.destaque .info,
.listagem-planos li.destaque .info{
	padding: 30px;
	border-radius: 0px 0px 30px 30px;
	color: #fff;
	background:  linear-gradient(358.11deg, #EC1A23 -20.51%, #FF535A 96.58%);
}
.woocommerce .products ul li .numero,
.woocommerce ul.products li .numero,
.listagem-planos li .numero{
	opacity: 0.3;
}
.woocommerce .products ul li.destaque .info .cta,
.woocommerce ul.products li.destaque .info .cta,
.listagem-planos li.destaque .info .cta{
	background: linear-gradient(0deg, #510F54, #510F54);
}
.woocommerce .products ul li.destaque .info .cta.bg-transparent,
.woocommerce ul.products li.destaque .info .cta.bg-transparent,
.listagem-planos li.destaque .info .cta.bg-transparent{
	background: transparent;
}

section#beneficios .icone{
	background:  linear-gradient(0deg, rgba(236, 26, 35, 0) -5.69%, #FF535A 106.29%);;
	padding: 30px;
	border-radius: 100%;
	display: inline-block;
	width: 260px;
	height: 260px;
}

section#beneficios .icone > div{
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: calc(50% - 100px);
	border-radius: 100%;
}

section#central-atendimento{
	background: url(img/bg-atendimento.jpg) no-repeat;
	background-size: cover;
}

section#central-atendimento .icone{
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	border-radius: 50px;
}

section#central-atendimento .icone i{
	padding-top: 5px;
}

section#central-atendimento .icone img{
	max-width: 100%;
}

section#noticias .listagem-noticias{
	padding: 25px;
	width: calc(100% + 100px);
	margin-left: -50px;
}

section#noticias .listagem-noticias li{
	box-shadow: 0px 4px 25px rgba(150, 132, 190, 0.18);
	margin: 25px;
	border-radius: 25px;
}

section#noticias .listagem-noticias li .foto{
	height: 280px;
	background-size: cover;
	border-radius: 25px 25px 0 0;
}

section#noticias .listagem-noticias li .info{
	padding: 20px;
	border-radius: 0 0 25px 25px;
	height:300px;
	position: relative;
}

section#noticias .listagem-noticias li .info h3{
	max-height: 50px;
	overflow: hidden;
	color: #000;
}

section#noticias .listagem-noticias li .info .resumo{
	height: 100px;
	margin: 20px 0;
	overflow: hidden;
}

section#noticias .listagem-noticias li .info .resumo p{
	color: #000;
}

section#noticias .listagem-noticias li .info .botao-final{
	position: absolute;
	width: 150px;
	height: 25px;
	bottom: 30px;
	left: 20px;
	color: #FF535A;
}

section#noticias .listagem-noticias li .info .botao-final i {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	font-style: normal;
	font-size: 23px;
	line-height: 30px;
	margin-right: 4px;
	transition: all 350ms ease-in-out;
}

section#noticias .listagem-noticias li a:hover .info .botao-final i,
section#noticias .listagem-noticias li a:focus .info .botao-final i{
	transform: scale(1.2);
}

section#noticias .owl-dots{
	text-align: center;
	bottom: 0;
}

/* Rodapé */

footer{
	background: #511972 url(img/mapa.png) no-repeat center;
	padding: 80px 0;
}


footer ul li{
	margin-bottom: 10px;
}

footer ul li a{
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	transition: all 350ms ease-in-out;
	position: relative;
	font-size: 14px;
	padding-left: 25px;
}

footer ul li a:before{
	width: 5px;
	height: 5px;
	border-radius: 100%;
	position: absolute;
	top: 7px;
	left: 0;
	background: #fff;
	content: '';
	transition: all 350ms ease-in-out;
}

footer ul li a:hover,
footer ul li a:focus{
	color: #FF535A;
}

footer ul li a:hover:before,
footer ul li a:focus:before{
	background: #FF535A;
}

footer .icone{
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	border-radius: 50px;
}

footer .icone i{
	padding-top: 5px;
}

footer .icone img{
	max-width: 100%;
}

footer .redes-sociais a{
	width: 48px;
	height: 48px;
	text-align: center;
	font-size: 20px;
	padding: 15px 10px;
	border-radius: 50px;
	color: #fff;
	background: linear-gradient(359.31deg, #EC1A23 -20.51%, #FF535A 96.58%);
	display: inline-block;
	margin: 0 5px;
	transition: all 350ms ease-in-out;
}

footer .redes-sociais a:hover,
footer .redes-sociais a:focus{
	transform: scale(1.1);
}

/* Páginas Internas */

section#breadcrumbs{
	padding-top: 160px;
	padding-bottom: 20px;
}

section#breadcrumbs a{
	color: #000;
	transition: all 350ms ease-in-out;
}

section#breadcrumbs a:hover,
section#breadcrumbs a:focus{
	color: #FF535A;
}

section#breadcrumbs span{
	color: #FF535A;
}

section#diretrizes .icone{
	background:  linear-gradient(0deg, rgba(236, 26, 35, 0) -5.69%, #FF535A 106.29%);;
	padding: 20px;
	border-radius: 100%;
	display: inline-block;
	width: 130px;
	height: 130px;
}

section#diretrizes .icone > div{
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: calc(50% - 45px);
	border-radius: 100%;
}

.listagem-fotos li a{
	width: 100%;
	height: 350px;
	display: block;
	background-size: cover;
}


section#diferenciais .owl-nav {
	width: 100%;
	top: auto;
	left: 0;
	justify-content: flex-end;
	bottom: 0;
}

section#diferenciais .owl-nav .owl-prev,
section#diferenciais .owl-nav .owl-next,
section#diferenciais .owl-carousel .owl-nav button.owl-next,
section#diferenciais .owl-carousel .owl-nav button.owl-prev{
	border-radius: 0px;
}

.woocommerce .products ul li,
.woocommerce ul.products li,
section#planos.internas .listagem-planos li {
	border-right: 15px solid #fff;
	border-left: 15px solid #fff;
	margin: 0 !important;
}

.link-termo{
	color: #FF535A;
	transition: all 350ms ease-in-out;
}

.link-termo:hover,
.link-termo:focus{
	color: #511972;
}

.link-whatsapp{
	color: #511972;
	transition: all 350ms ease-in-out;
}

.link-whatsapp:hover,
.link-whatsapp:focus{
	color: #FF535A;
}

section#noticias.paginas-internas .listagem-noticias li {
	box-shadow: none;
	margin: 0px;
	border-radius: 0px;
}

section#noticias.paginas-internas .search input{
	width: 100%;
}

section#detalhes-noticias .sidebar{
	border-radius: 20px;
	box-shadow: 0px 4px 25px rgba(150, 132, 190, 0.18);
}

section#detalhes-noticias .sidebar li a{
	transition: all 350ms ease-in-out
}

section#detalhes-noticias .search input{
	width: 100%;
	background: #eaeaea;
}

section#servicos{
	padding: 0;
}

section#servicos .listagem-servicos li{
	padding: 80px 0;
}

section#servicos .listagem-servicos li:nth-of-type(2n){
	background: #F1F1F1;
}

section#servicos .listagem-servicos li:nth-of-type(2n) .row{
	flex-direction: row-reverse;
}

section#servicos .listagem-servicos li .icone{
	background:  linear-gradient(0deg, rgba(236, 26, 35, 0) -5.69%, #FF535A 106.29%);;
	padding: 20px;
	border-radius: 100%;
	display: inline-block;
	width: 130px;
	height: 130px;
	position: absolute;
	z-index: 9;
	bottom: -20px;
	left: -20px;
}

section#servicos .listagem-servicos li .icone > div{
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: calc(50% - 45px);
	border-radius: 100%;
}

section#unidades .search input{
	background: #E0E0E0;
	width: 100%;
}

.listagem-unidade li > div{
	padding: 20px;
	box-shadow: 0px 4px 25px rgba(150, 132, 190, 0.18);
	border-radius: 0 0 30px 30px;
	border: 1px solid #fff;
	transition: all 350ms ease-in-out;
}

.listagem-unidade li > div a{
	transition: all 350ms ease-in-out;
}

.listagem-unidade li > div:hover,
.listagem-unidade li > div:focus{
	border-color: #FF535A;
}

.listagem-unidade li > div .fa-map-marker-alt{
	color: #E0E0E0;
	font-size: 40px;
	transition: all 350ms ease-in-out;
}

.listagem-unidade li > div:hover .fa-map-marker-alt,
.listagem-unidade li > div:focus .fa-map-marker-alt{
	color: #FF535A;
	transform: scale(1.5);
}

section#parceiro .search input{
	background: #E0E0E0;
	width: 100%;
}

section#contato iframe{
	width: 100%;
	height: 500px;
	border-radius: 20px;
}

section#banner-contato .icone {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 50px;
}

section#banner-contato .icone img {
    max-width: 100%;
}

section#banner-contato  .icone i {
    padding-top: 5px;
}

/*Responsivo*/

.open-menu{
	background: linear-gradient(359.7deg, #EC1A23 -20.51%, #FF535A 96.58%);
	padding: 10px 12px;
	margin-right: 20px;
	color: #fff;
	border-radius: 2px;
	display: none;
	cursor: pointer;
}

.open-menu:hover,
.open-menu:focus{
	color: #fff;
}

.responsive-menu {
	display: none;
	background: #007320;
	color: #fff;
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	margin-right:20px;
}

.close-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #fff;
	display: none;
	align-items: center;
	justify-content: center;
	color: #222;
	width: 30px;
	height: 30px;
	z-index: 999;
}

.responsive-menu:hover,
.responsive-menu:focus{
	color: #fff;
}

/* WooCommerce */
.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
	width: 100%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}


@media only screen and (max-width: 1450px) {

	.owl-nav {
		width: calc(100% + 50px);
		left: -25px;
	}

}

@media only screen and (max-width: 1200px) {
	header .main-menu > ul > li {
		margin-right: 15px;
	}

	header .main-menu > ul > li > a{
		font-size: 15px;
	}

	header .topbar .call{
		display: none;
	}

	section#noticias .listagem-noticias{
		width: 100%;
		margin-left: 0;
	}
}

@media only screen and (max-width: 991px) {
	header .topbar .phones-search .phone{
		display: none;
	}

	header .top{
		display: block;
	}

	header .logo img{
		width: 150px;
	}

	header.fixed .logo img {
		padding-top: 10px;
		width: 130px;
	}

	header .main-menu > ul > li{
		padding-bottom: 15px;
	}

	header .main-menu > ul > li > a{
		font-size: 13px;
	}

	header .main-menu > ul > li > a:before {
		height: calc(100% + 132px);
		top: -118px;
	}

	header .main-menu > ul > li > a:after{
		bottom: -5px;
	}

	header.fixed .main-menu > ul > li > a:before {
		top: -118px;
	}

	footer .col-lg-4{
		margin-bottom: 40px;
		text-align: center;
	}

	footer .d-flex.mb-4 {
		justify-content: center;
	}

	/* Páginas Internas */
	section#breadcrumbs {
		padding-top: 180px;
	}

}

@media only screen and (max-width: 767px) {
	section{
		padding: 50px 0;
	}

	header .top{
		display: flex;
	}

	header .topbar{
		display: none;
	}

	header .topbar .phones-search{
		justify-content: center;
	}

	header  .open-menu{
		display: block;
	}

	header .logo{
		margin-top: 0;
		padding: 10px 0;
	}

	header.fixed .logo{
		padding: 10px 0;
	}

	header.fixed .logo img{
		padding: 0;
	}

	.responsive-menu, .close-menu{
		display: flex;
	}

	.main-menu{
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background: rgba(0,0,0,0.85);
		height: 100vh;
		z-index: 99;
		display: none;
	}

	header .main-menu > ul{
		display: block;
		width: 350px;
		background: #fff;
		height: 100vh;
		margin-top: 0;
		position: absolute;
		right: 0;
		transform: translateX(+350px);
		transition: all 350ms ease-in-out;
		overflow: auto;
		padding: 20px;
	}

	header .main-menu > ul > li{
		margin-left: 0;
	}

	header .main-menu > ul > li > a,
	header .main-menu > ul > li > a:hover,
	header .main-menu > ul > li > a:focus{
		display: block;
		text-align: left;
		font-size: 14px;
		padding: 10px;
		color: #000;
	}

	header .main-menu > ul.transform{
		transform: translateX(0px);
	}

	header .main-menu > ul > li > ul {
		position: relative;
		display: block;
		top: auto;
		left: auto;
		width: 100%;
		box-shadow: none;
		border-top: 0;
		padding:  0 0 0 20px;
		visibility: visible;
		opacity: 1;
		margin-top: 0px;
		margin-bottom: 0px;
		background: #fff;
		-webkit-transform: translate3d(0, 0rem, 0);
		transform: translate3d(0, 0rem, 0);
	}

	header .main-menu > ul > li.drop > a:before {
		right: auto;
		left: -3px;
	}

	header .main-menu > ul > li.drop > a {
		padding: 0 10px;
		margin-left: 13px;
	}

	header .main-menu > ul > li > ul:before{
		border-bottom-color: #fff;
	}

	header .main-menu ul > li > ul > li > a,
	header .main-menu ul > li > ul > li > a:hover,
	header .main-menu ul > li > ul > li > a:focus{
		font-size: 13px;
		padding: 5px;
		color: #666;
	}

	header .main-menu > ul > li > a:before {
		height: 0px;
		width: 0;
		top: 0px;
	}

	section#banner .owl-dots{
		text-align: center;
	}

	.main-banner li{
		height: auto;
		padding-top: 72px;
	}

	.main-banner li .imagem{
		height: auto;
		margin: 0 0 20px 0;
		padding-right: 0;
	}

	.main-banner li .col-md-6{
		text-align: center;
		padding-top: 20px;

	}

	.main-banner li .detalhe{
		display: none;
	}

	.listagem-planos{
		margin-top: 30px;
	}

	footer .icone{
		display: inline-block;
	}

	/* Páginas Internas */
	section#breadcrumbs {
		padding-top: 110px;
	}

	section#diretrizes{
		text-align: center;
	}
	
	section#detalhes-planos .container-fluid > .row{
		flex-direction: column-reverse;
	}
	
	section#detalhes-planos .bg-lgrey{
		text-align: center;
	}
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product {
		max-width: 100%;
		width: 100% !important;
	}

}

@media only screen and (max-width: 576px) {

	.font-size-70 {
		font-size: 50px;
	}

	.font-size-60 {
		font-size: 40px;
	}

	.font-size-50 {
		font-size: 32px;
	}

	header .main-menu > ul {
		width: 230;
	}

	header .logo,
	header.fixed .logo{
		padding-left: 10px;
	}

	header .logo img {
		width: 110px;
	}

	header.fixed .logo img {
		width: 90px;
	}

	.owl-nav {
		width: calc(100% + 30px);
		left: -15px;
	}

	.owl-nav .owl-prev, .owl-nav .owl-next, .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
		width: 40px;
		height: 40px;
		font-size: 25px;
		line-height: 36px;
	}

	.main-banner li {
		padding-top: 102px;
	}

	.section-title{
		font-size: 30px;
	}

	.listagem-planos{
		padding: 0;
	}

	.listagem-planos li{
		padding: 0;
	}

	.listagem-planos li .info {
		padding: 20px;
	}

	section#beneficios .icone {
		width: 240px;
		height: 240px;
	}

	section#beneficios .icone > div {
		width: 180px;
		height: 180px;
		margin-left: calc(50% - 90px);
	}

	section#noticias .listagem-noticias{
		padding: 5px;
	}

	section#noticias .listagem-noticias li{
		margin: 5px;
		box-shadow: 0px 0px 5px rgba(150, 132, 190, 0.18);
	}

	section#noticias .listagem-noticias li .foto {
		height: 180px;
	}

	section#noticias .owl-dots {
		bottom: -20px;
	}

	/* Páginas Internas */
	section#breadcrumbs {
		padding-top: 100px;
	}
}


/*Paginação*/

.pagination{
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.pagination h2{
	display: none;
}

.nav-links {
	width: 100%;
	text-align: center;
}

.pagination .nav-links span,
.pagination .nav-links a{
	padding: 3px 15px;
	display: inline-block;
	margin-right: 15px;
	color: #000;
	font-weight: bold;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
	border-bottom: 2px solid  #fff;
}

.pagination .nav-links a:hover,
.pagination .nav-links a:focus,
.pagination .nav-links .current{
	border-color: #FF535A ;
	color: #FF535A ;
}


.pagination .nav-links .next,
.pagination .nav-links .prev{
	color: #000;
	border:0px;
}

.pagination .nav-links .next:hover,
.pagination .nav-links .next:focus,
.pagination .nav-links .prev:hover,
.pagination .nav-links .prev:focus{
	color: #FF535A ;
}

span.wpcf7-not-valid-tip{
	font-size: 12px;
	color: #d84141;
}

.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7 form.unaccepted .wpcf7-response-outputg {
    border: 1px solid #f7b7b7;
    color: #c35959;
    background: #ffe4e4;
    font-size: 12px;
    padding: 5px 20px;
}

.wpcf7 form.sent .wpcf7-response-output {
	border: 1px solid #a3e4b4;
    color: #59c375;
    background: #dbffe4;
    font-size: 12px;
    padding: 5px 20px;
}

body.login{
	padding-top: 0;
	background: #501972;
}

.login h1 a {
	background-image: url('img/logo.png');
	background-size: 173px 83px;
	width: 173px;
	height: 83px;
}

p.sml_thankyou {
    color: #fff;
    position: absolute;
    top: -21px;
    font-size: 10px;
    left: 24px;
}